DATABASE_URL=
MONGO_URL=
AUTHORIZATION_KEY=
SECRET_KEY=
ALGORITHM=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_TLS=
SMTP_FROM=

WEATHER_SERVICE_URL=
WEATHER_API_KEY=

VALHALLA_BASE_URL=

NOMINATIM_URL=

NOMINATIM_REVERSE_URL=

PHOTON_URL=

TILESERVER_URL=